<table class="table">
    <thead>
      <tr>
        <th>Author</th>
        <th>Actions available</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors">
        <td>
          {{ author.name }}
        </td>
        <td>
          <div *ngIf="author" class="btn-group pull-right btn-group-justified" role="group">
            <button type="button" class="btn btn-success" [routerLink]="['/quotes',author._id]">View quotes</button>
            <button type="button" class="btn btn-warning" [routerLink]="['/edit',author._id]">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteAuthor(author._id)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>